.htCellDifference {
  background-color: #eb837c !important;
}

.htCellDifferenceNoColor {
  background-color: #ffffff !important;
}

.scroll-diff-container {
  position: relative;
  width: 30px;
}
.error-marker {
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #eb837c 
}
.htRowMissing{
  background-color: #eb837c !important;
}
.flatpickr-input{
  font: inherit;
  letter-spacing: inherit;
  color: currentcolor;
  border: 1px solid #ccc;
  box-sizing: content-box;
  background: none;
  border-radius: 5px;
  height: 1.4375em;
  margin: 0px;
  -webkit-tap-highlight-color: transparent;
  display: block;
  min-width: 0px;
  width: 100%;
  animation-name: mui-auto-fill-cancel;
  animation-duration: 10ms;
  padding: 16.5px 14px;
}
.red-cell {
  background-color: red !important;
}
