.htCellDifference {
  background-color: #eb837c !important;
}

.htCellDifferenceNoColor {
  background-color: #ffffff !important;
}

.scroll-diff-container {
  position: relative;
  width: 30px;
}
.error-marker {
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #eb837c 
}
.htRowMissing{
  background-color: #eb837c !important;
}
