
.filterField{
    margin-right: 10px;
}
.filterRow{
    display: flex;
}
.filterGroup{
    margin-top: 15px;
}
.deleteIcon{
display: flex;
cursor: pointer;
align-items: center;
}
.filterActions {
    margin: 20px 0;
}
.operatorSelect{
    margin-right: 10px;
}
